<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>

        <div id="app">
            <input type="text" v-on:input="inputChange">
            <h3>v-bind 标签中属性使用变量值</h3>
            <p>{{ someWord }} <a v-bind:href="link">Google</a></p>
            <br>
            <h3>v-once 只渲染一次</h3>
            <h3 v-once>{{ test1() }}</h3>
            <hr>
            <h3>v-html 渲染变量包含原生的html</h3>
            <p>{{ finshedLink }}</p>
            <p v-html="finshedLink"></p>
            <hr>
            <h3>v-on 监听事件 向函数传参</h3>
            <h3>The count is :{{ count }}---时间：{{ new Date() }}</h3>
            <button type="button" class="btn btn-outline-primary" v-on:click="increase(2, $event)">牛牛牛</button>

            <h3>使用被监听对象的属性信息 修饰符 stop/prevent等</h3>
            <p v-on:mousemove="updateCoordinates">你可以把鼠标移动上来看看效果-{{ x }} / {{ y }}-<span
                    v-on:mousemove.stop>我就是试试</span>-呵呵</p>
            <h3>v-on 监听按键事件</h3>
            <input v-on:keyup.enter="alertMe" type="text">

            <br>
            <h3>双向绑定 v-model</h3>
            <input type="text" v-model="modelData">
            <p>{{ modelData }} <a v-bind:href="link">Google</a></p>
            <br>

            <h3>computed模块使用  method方法直接在{{}} 中引用每次操作会强制刷新，compute则lazy刷新</h3>
            <button type="button" class="btn btn-outline-primary" v-on:click="count1++">Increase1</button>
            <button type="button" class="btn btn-outline-primary" v-on:click="count2++">Increase2</button>
            <p>count1:{{ count1 }} / count2:{{ count2 }}</p>
            <p>count1:{{ output }} / count2:{{ result() }}</p>
            <br>

            <h3>v-on:简写@  v-bind:简写:</h3>
            <input type="text" @input="inputChange">
            <h3>v-bind 标签中属性使用变量值</h3>
            <p>{{ someWord }} <a :href="link">Google</a></p>
            <br>
            <h3>css 相关</h3>
            <div class="row">
                <div class="col-lg-3 static" :class="divClasses" @click="attachRed=!attachRed"></div>
                <div class="col-lg-3 static" :class="{red:attachRed}" @click="attachRed=!attachRed"></div>
                <div class="col-lg-3 static" :class="{blue:!attachRed}" @click="attachRed=!attachRed"></div>
                <div class="col-lg-3 static" :class="[color,{blue:attachRed}]" @click="attachRed=!attachRed"></div>
            </div>
            <input type="text" v-model="color">
            <br>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>

        <script>
            new Vue({
                el: "#app",
                data: {
                    someWord: "Hello,Weilin",
                    link: "https://www.google.com",
                    finshedLink: '<a href="https://www.google.com">Google</a>',
                    count: 0,
                    x: 0,
                    y: 0,
                    timenow: new Date(),
                    modelData: "max",
                    count1: 0,
                    count2: 0,
                    attachRed:true,
                    color:"",
                    // v-bind 在标签属性使用变量
                },
                computed: {
                    output: function () {
                        console.log("computed!")
                        return this.count1 > 5 ? "Greater 5" : "Smaller 5";
                    },
                    divClasses:function () {
                        return {
                            red: this.attachRed,
                            blue: !this.attachRed,
                        }
                    },

                },
                watch:{
                    count1:function () {
                        vm = this;
                        setTimeout(function () {
                            vm.count1 = 0;
                        },10000)
                    }
                },
                methods: {
                    inputChange: function (event) {
                        console.log("1")
                        this.someWord = event.target.value;
                    },
                    test1: function () {
                        console.log("2")
                        return this.someWord;
                    },
                    increase: function (step, ev) {
                        console.log("3")
                        this.count += step;
                        console.log(ev);
                    },
                    updateCoordinates: function (ev) {
                        console.log("4")
                        this.x = ev.clientX;
                        this.y = ev.clientY;
                        // console.log(ev);
                    },
                    alertMe: function (ev) {
                        console.log("5")
                        alert("Print Over!");
                    },
                    getTime: function () {
                        console.log("6!")
                        this.timenow = new Date();
                    },
                    // currentTime() {
                    //     setInterval(this.getTime, 500)
                    // },
                    result: function () {
                        console.log("method!")
                        return this.count1 > 5 ? "Greater 5" : "Smaller 5";
                    }
                },
                // created() {
                //     this.currentTime();
                // },
            });
        </script>
    </body>
</html>